# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Models
# backend/model.pkl
# backend/vectorizer.pkl

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.node_repl_history

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
