# --- ROOT GITIGNORE ---

# Node artifacts
**/node_modules/
**/dist/
**/npm-debug.log*

# Python artifacts
**/__pycache__/
**/*.py[cod]
**/*.pkl
**/*.log

# Environment artifacts
**/.venv/
**/.env
**/.python-version
**/.uv/

# OS artifacts
.DS_Store
Thumbs.db

# Docker artifacts
docker-compose.override.yml
